


/* .... Form Button */
.side_bar .side_bar_btn_form a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #003559;
    height: 50px;
    width: 240px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 25px;
    padding-left: 30px;
}

.side_bar .side_bar_btn_form a img{
    width: 28px;
    margin-right: 10px;
}


/*.... FORM CARD CONTAINER .... */

.content_container .form_card_container{
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(3, 340px); */

    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    margin-top: 30px;
}

.form_card_container .form_card{
    /* background-color: #003559; */

    
    border: 1px solid rgba(0,0,0,.125);
    padding: 26px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 10, 0.1);
}

.form_card_container .form_card .card_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.form_card_container .form_card .card_heading .action_btn{
    border: none;
    font-size: 20px;
    background-color: white;
    width: 15px;
}

.form_card_container .form_card h2{
    font-size: 24px;
    margin-bottom: 0;
}

.form_card_container .form_card .card_subtitle{
    font-size: 20px;
    color: gray;
}



/* ... ACTION BUTTONS STYLING ... */

.action_btn_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 150px;
    height: 220px;
    position: absolute;
   
    right: -20px;
    top: -50px;
    padding: 4px 0;
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgb(201, 199, 199);
    z-index: 5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
}

.action_btn_container.show{
    opacity: 1;
    pointer-events: visible;
}


.action_btn_container a{
    text-decoration: none;
    width: 100%;
}

/* ... Campaign Button ... */
.action_campaign_button{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 34px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: Verdana;
    font-size: 13px;
    width: 100%;
    padding-left: 20px;
}

.action_campaign_button:hover{
    background-color: rgb(226, 224, 224);
    color: #0d6efd;
}


/* .... Delete Campaign Button .... */


/* 

.remove_campaign_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: Verdana;
    font-size: 13px;
    width: 100%;
}
.remove_campaign_btn:hover{
    background-color: rgb(226, 224, 224);
    color: #0d6efd;
}
 */




 /* ... MEDIA QUERIES ... */
 @media screen and (max-width: 1200px) {
    .content_container .form_card_container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 940px) {
    .content_container .form_card_container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 809px) {
    .content_container .form_card_container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 540px) {
    .content_container .form_card_container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}