

.content_container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 300px;
    padding-top: 0;
}

.content_container .video_container{
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003559;
    border-radius: 20px;
    padding: 30px;
    
}

.content_container .video_container iframe{
    width: 100%;
    height: 100%;
}

.content_container .welcome_msg{
    margin-left: -38px;
    margin-bottom: 20px;
}

.content_container .welcome_msg p{
    font-size: 34px;
}


/* ... Unlock Access Button ..... */
.unlock_access_button{
    margin-top: 20px;
}

.unlock_access_button button{
    background-color: red;
    border: none;
    width: 280px;
    height: 60px;
    border-radius: 30px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    padding-left: 14px;
    cursor: pointer;
}

.unlock_access_button button:hover{
   padding-left: 30px;
   padding-right: -8px;
}


.unlock_access_button .fa-solid{
    color: white;
    font-size: 30px;
    margin-right: -60px;
}



/* ...... MEDIA QUERIES ...... */
@media screen and (max-width:1330px) {
    
.content_container .video_container{
    width: 700px;
    height: 350px;
    
}



.content_container .welcome_msg{
    margin-left: -80px;
    margin-bottom: 20px;
}


.content_container .welcome_msg p{
    font-size: 28px;
}


}


@media screen and (max-width:1199px) {
    
    .content_container .video_container{
        width: 600px;
        height: 300px;
        
    }
    
    
    
    .content_container .welcome_msg{
        margin-left: -80px;
        margin-bottom: 20px;
    }
    
    
    .content_container .welcome_msg p{
        font-size: 24px;
    }
    
    
    
}



@media screen and (max-width:1080px) {
    
    .content_container .video_container{
        width: 500px;
        height: 250px;
        
    }
    
    
    
    .content_container .welcome_msg{
        margin-left: -34px;
        margin-bottom: 20px;

    }
    
    
    .content_container .welcome_msg p{
        font-size: 22px;
    }
    
    
    
    }