
.side_bar .side_bar_btn_team a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #003559;
    height: 50px;
    width: 210px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 25px;
    padding-left: 30px;
}

.side_bar .side_bar_btn_team a img{
    width: 28px;
    margin-right: 10px;
}





/* .....Content ....... */
.content_container{
    padding: 80px 80px;
}

.content_container .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_container .add_team_member_btn{
    text-decoration: none;
    background-color: #003559;
    color: white;

    height: 40px;
    width: 180px;
    border: 1px solid #003559;

    /* padding: 10px 20px; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.content_container .add_team_member_btn img{
    width: 16px;
    margin-right: 3px;
}

#blue_add_icon{
    display: none;
}



.content_container .add_team_member_btn:hover{
    background-color: white;
    color: #003559;
    border: 1px solid #003559;


    /* padding: 9px 19px; */
}

.disactivate_btn{
    display: none;
}




.content_container .table_container{
    margin-top: 60px; 
}

.content_container .table_container table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.table_container table tr{
  
}

.content_container .table_container table thead{
   
}

.content_container .table_container table tr td, th{
    border-bottom: 1px solid rgb(221, 216, 216);
    padding: 8px 0 8px 4px;
}



.content_container .table_container table input[type="button"]{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(226, 224, 224);
    cursor: pointer;
    font-family: Verdana;
    font-size: 13px;
    
}


/* ..... Add Member Form ..... */
.add_member_form{
    border-radius: 10px;
    position: absolute;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    height: fit-content;
    width: 500px;
    background-color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}


.add_member_form.active{
    top: 50%;
    opacity: 1;
    pointer-events: visible;
}

.add_member_form form .heading{
    margin-bottom: 20px;
}

.add_member_form form .heading img{
    /* padding-right: 38px; */
}

.add_member_form form .input{
    margin-bottom: 10px;
}

.add_member_form form .input p{
    margin-bottom: 4px;
}

.add_member_form form .input input{
    margin-bottom: 15px;
    border-radius: 6px;
    height: 36px;
    width: 98%;
    border: 1px solid rgb(211, 209, 209);
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}
.add_member_form form .input input:focus{
    border: 1px solid #2e9ce679;
}


/* ... Select Project Styling ...... */

.add_member_form form .select_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.add_member_form form .select_container .select_btn_container{
    height: 40px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 6px;
    background-color: #e8f0fe;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.project_list{
    width: 260px;
    background-color: #e8f0fe;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 6px;
    padding: 10px 16px;
    cursor: pointer;
    display: none;
    position: absolute;
    transition: all 0.4s ease-in;
}

.select_btn_container.open ~ .project_list{
   display: block;
}


.select_btn_arrow{
    transition: all 0.3s ease-in-out;
}

.select_btn_container.open .select_btn_arrow{
    transform: rotate(-180deg);
}



.project_list .each_project_item{
    list-style-type: none;
    padding:  16px 16px;
    display: flex;
    align-items: center;
}


.project_list .each_project_item:hover{
    background-color: white;
    border-radius: 8px;
}

.project_list .each_project_item .check{
    border: 1px solid #c0c0c0;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.each_project_item.checked .check{
    border: none;
    background-color: blue;
}

.project_list .each_project_item .check .check_icon{
    font-size: 14px;
    transform: scale(0);
}

.each_project_item.checked .check .check_icon{
    transform: scale(1);
    color: white;
}



.project_list .each_project_item .project_name{
    font-size: 16px;
    font-weight: 400;
}



.add_member_form form .select_container #add_member_button{
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #003559;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}





/* ....CONFIRM DELETE POP UP ..... */
.confirm_delete_team_member_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 300px;
    background-color: aqua;
    padding-top: 60px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    transition: all 0.25s ease-in-out;
    z-index: 5;
}
.confirm_delete_team_member_container.active{
    transform: translate(-50%, -50%) scale(1);
}

.confirm_delete_team_member_container .exclamation{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: red;

}

.confirm_delete_team_member_container .confirm_question{
   text-align: center;
   font-size: 38px;
   margin-top: 20px;
}

.confirm_delete_team_member_container .confirm_cancel_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.confirm_cancel_buttons .confirm_remove_btn{
    width: 140px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #003559;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}
.confirm_cancel_buttons .cancel_remove_btn{
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: red;
    color: white;
    font-size: 18px;
    cursor: pointer;
}





/*  ...... Overlay ...... */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
    transition: all 0.4s ease-in-out;
}