
/*  .... Side Bar Button ..... */

.side_bar .side_bar_btn_asset a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #003559;
    height: 50px;
    width: 240px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 25px;
    padding-left: 30px;
}
.side_bar .side_bar_btn_asset a:hover{
    
}

.side_bar .side_bar_btn_asset a img{
    width: 28px;
    margin-right: 10px;
}





/*  .... Content Container Section .... */

.content_container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 300px;
    padding-top: 0;
}

.content_container .video_container{
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003559;
    border-radius: 20px;
    padding: 30px;
    
}

.content_container .video_container iframe{
    width: 100%;
    height: 100%;
}

.content_container .welcome_msg{
    margin-bottom: 20px;
}

.content_container .welcome_msg p{
    font-size: 34px;
}




/* ...... MEDIA QUERIES ...... */
@media screen and (max-width:1330px) {
    
.content_container .video_container{
    width: 700px;
    height: 350px;
    padding: 20px;
    border-radius: 18px;
}



.content_container .welcome_msg{
    margin-left: -80px;
    margin-bottom: 20px;
}


.content_container .welcome_msg p{
    font-size: 28px;
}


}


@media screen and (max-width:1199px) {
    
    .content_container .video_container{
        width: 600px;
        height: 300px;
        padding: 15px;
        border-radius: 16px;
    }
    
    
    
    .content_container .welcome_msg{
        margin-left: -80px;
        margin-bottom: 20px;
    }
    
    
    .content_container .welcome_msg p{
        font-size: 24px;
    }
    
    
    
}



@media screen and (max-width:1080px) {
    
    .content_container .video_container{
        width: 500px;
        height: 250px;
        padding: 10px;
        border-radius: 10px;
    }
    
    
    
    .content_container .welcome_msg{
        margin-left: -34px;
        margin-bottom: 20px;

    }
    
    
    .content_container .welcome_msg p{
        font-size: 22px;
    }
    
    
    
    }


    

/* ..... Mobile Responsiveness ...... */

@media screen and (max-width: 999px){


        
    /* .....Header Section...... */
    header{
        padding-left: 20px;
    }

        
    header .logo span{
        display: block; 
    }

        
    header .profile_container{
        padding-right: 60px;
    }


    header .profile_container .my_account_text{
        display: block;
    }

    
        
    /* ...Profile Dropdown ... */
    .profile-dropdown{
        right: 40px;
    }




    .side_bar{
        left: -100%;
    }

    .side_bar.active{
       left: 0;
    }

        
    /* .....Content Section..... */
    .content_container{
        margin-top: 70px;
        margin-left: 0px;
        width: 100vw;
        padding: 50px 50px;
    }



     
    .content_container .video_container{
        width: 600px;
        height: 350px;
        padding: 15px;
    }
    
    
    
    .content_container .welcome_msg{
        margin-left: 0px;
        margin-bottom: 20px;

    }
    
    
    .content_container .welcome_msg p{
        font-size: 22px;
        margin-left: 0;
    }

}




@media screen and (max-width: 788px){


        
    /* .....Header Section...... */
        
    header .logo span{
        display: block; 
    }

        
    header .profile_container{
        padding-right: 60px;
    }


    header .profile_container .my_account_text{
        display: block;
    }



    .side_bar{
        left: -100%;
    }

    .side_bar.active{
       left: 0;
    }

        
    /* .....Content Section..... */
    .content_container{
        margin-top: 70px;
        margin-left: 0px;
        width: 100vw;
        padding: 50px 50px;
    }



     
    .content_container .video_container{
        width: 500px;
        height: 300px;
        background-color: #003559;
        border-radius: 10px;
        padding: 10px;  
    }
    
    
    
    .content_container .welcome_msg{
        margin-left: 0px;
        margin-bottom: 20px;

    }
    
    
    .content_container .welcome_msg p{
        font-size: 20px;
    }

        
    .unlock_access_button .button{
        width: 200px;
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
    }

        
    .unlock_access_button .lock_icon img{
        width: 20px;
        margin-right: 10px;
    }


}


@media screen and (max-width:600px) {


    
    header .profile_container .my_account_text{
        display: none;
    }


    header .profile_container{
        padding-right: 30px;
        /* margin-top: 12px; */
    }

        
    /* .....Content Section..... */
    .content_container{
        margin-top: 70px;
        margin-left: 0px;
        width: 100vw;
        padding: 0px 10px;
    }

    
      
    .content_container .video_container{
        width: 420px;
        height: 220px;
        background-color: #003559;
        border-radius: 5px;
        padding: 5px;  
        margin-top: -180px;
    }

    
    
    .content_container .welcome_msg p{
        font-size: 16px;
        margin-top: -190px;
    }

        
    .unlock_access_button .button{
        width: 168px;
        height: 44px;
        border-radius: 25px;
        font-size: 15px;
    }


}



@media screen and (max-width:440px) {

        
    header .logo{
        font-size: 14px;
        
    }
         
    header .profile_container{
        padding-right: 30px;
    }
    
       
    .content_container .video_container{
        width: 300px;
        height: 140px;
        background-color: #003559;
        border-radius: 6px;
        padding: 4px; 
        margin-top: -140px; 
    }

    
        
    .unlock_access_button .button{
        width: 160px;
        height: 40px;
        border-radius: 25px;
        font-size: 14px;
    }

        
    .unlock_access_button .lock_icon img{
        width: 16px;
        margin-right: 10px;
    }

    
    .content_container .welcome_msg p{
        font-size: 16px;
        width: 300px;
        margin-top: -170px;
    }

}