
/* .... Whitelabel Button */
.side_bar .side_bar_btn_video_kit a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #003559;
    height: 50px;
    width: 210px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 25px;
    padding-left: 30px;
}

.side_bar .side_bar_btn_video_kit a img{
    width: 28px;
    margin-right: 10px;
}





/* .....Content Section..... */
.content_container{
    margin-top: 70px;
    margin-left: 300px;
    width: calc(100vw - 300px);
    padding: 20px 60px 30px 60px;
}



.content_container .cards_container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}


.content_container .cards_container .card{
    border-radius: 10px;
    background-color: #b8dcf579;
    transition: all 0.4s ease-in-out;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_container .cards_container .card:hover{
    transform: scale(1.02);
}

.content_container .cards_container .card button{
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid #003559;
    font-size: 14px;
    font-family: Verdana;
    margin-left: 12px;
}


.card h2{
    color: #003559;
    margin-top: 0px;
}

.card p{
   font-size: 14px;
   margin-top: 8px;
   color: #003559;
}




/* .... Media Queries ..... */
@media screen and (max-width: 1430px) {
    
.content_container .cards_container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 30px;
}

}


/* ... MOBILE RESPONSIVENESS ... */
@media screen and (max-width:808px) {
    
        
    /* .....Header Section...... */
    header{
        padding-left: 20px;
    }

        
    header .logo{
        font-size: 16px;
        
    }


        
    header .logo span{
        display: block;
        
    }

        
    header .profile_container{
        padding-right: 50px;
    }


    header .profile_container .my_account_text{
        display: none;
    }


        
    /* ...Profile Dropdown ... */
    .profile-dropdown{
        right: 40px;
    }



    .side_bar{
        left: -100%;
    }

    .side_bar.active{
       left: 0;
    }

        
    /* .....Content Section..... */
    .content_container{
        margin-top: 70px;
        margin-left: 0px;
        width: 100vw;
        padding: 30px 30px;
    }

}


@media screen and (max-width:430px) {
         
    /* .....Content Section..... */
    .content_container{
        margin-top: 70px;
        margin-left: 0px;
        width: 100vw;
        padding: 20px 20px;
    }


        
    .content_container .cards_container .card{
        border-radius: 10px;
        padding-left: 20px;
        padding-top: 24px;
        padding-right: 20px;
        padding-bottom: 24px;
    }

        
    .content_container .cards_container .card button{
        padding: 10px 20px;
        margin-left: 12px;
        font-size: 10px;
    }
}
